body {
    font-family: Arial, sans-serif;
    background-color: #e0dcdc;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 20px 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    text-shadow:1px 1px 5px #272626;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;

}

table tbody tr:hover {
    background-color: #e0e0e0;
}

.green {
    color: green;
}

.red {
    color: red;
}
